:root {

    --bisque: bisque;
    --darkgreen: darkgreen;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --darkred: darkred;
    --indigo: indigo;
    --red: red;
    --yellow: yellow;



 }
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

 .fundo{


     background-color: var(--lightgray);
     
 }


 .vcabeca {
     background-color: var(--bisque);
     width: 98%;
     height: 50%;
     border: 3px solid indigo;
     margin: 1%;
     display: flex;
     text-align: center;
     padding: 5%;
     justify-content: space-evenly;
 }

 .textocabeca {
     color: var(--darkgreen);
     text-align: center;
     width: 100%;
    
 }

 img#A {
     position: absolute;
     top: 3%;
     left: 3%;
     width: 10%;
     font-weight: 50;
 }
 img#B { 
     position: absolute;
     top: 3%;
     right: 3%;
     width: 10%;
     font-weight: 50;
 }
 .parteazul {
     background-color: lightblue;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 40%;
     margin: 1%;
     margin-top: -1%;
     width: 98%;
 }
 .menu{
    
      color: red;
     align-items: center;
     justify-content: space-evenly;
     border: 5px;
     margin: 5px;
     text-align: center;
}

.intro{
      text-align: center;
      color: black;
}

.textao {

     text-align: center;
     color: indigo;
     font-size: 200%;
     width: 100%;
}
.textao2 {
     text-align: center;
     color: indigo;
     font-size: 200%;
     width: 100%;
}

.textao3 {
     text-align: center;
     color: indigo;
     font-size: 200%;
     width: 100%;
}

.livros {
     text-align: center;
     color: black;
}
img#C {
     position: absolute;
     top: 140%;
     left: 13%;
     width: 20%;
     height: 60%;
}
img#D {
    position: absolute;
    top: 140%;
    left: 39%;
    width: 23%;
    height: 60%;
}

img#E {
    position: absolute;
    top: 140%;
    left: 69%;
    width: 20%;
    height: 60%;
}
.classimg{
align-items: center;
display: flex;



}
.aprenda {
    text-align: center;
    color: black;
    padding: 30%;
    font-size: 170%;
    position:absolute;
    top: 150%;
}
.iframe1 {
    position: absolute;
    top: 230%;
    margin-left: 20%;
    

}

.iframe2  {
    position: absolute;
    top: 230%;
    margin-left: 55%;
}

.contatos {
    text-align: center;
    color: black;
    position:absolute;
    top: 300%;
    font-size: 170%;
    left: 46%;
}
.tabela {
    display: flex;
    justify-content: center;
    
    



    
    


}
.vermelho{
    color: red;
    
}
.dashed{
    border-style: dashed;
    border: 5px dashed red;
    margin: -5%;
    width: 25%;
    position:absolute;
    top: 320%;
    height: 25%;
    text-align: center;
    
}
.qamarelo {
    background-color: var(--yellow);
     width: 35%;
     margin: 5%;
     display: flex;
     text-align: center;
     padding: 4%;
     letter-spacing: 25%;
     position:absolute;
     top: 330%;
     left: 28%;

}
.textoamarelo {
    color:black;
     align-items: center;
     margin-top: 0%;  
     font-family: "Comic Sans MS", "Comic Sans", cursive; 
     font-size: 20px;
     margin-top: 0% ;
}
.math {
   color: black;
   font-size: 20px;
   position: absolute;
   display: flex;
   top: 1%;
   left: 1%;
}


.vfoot{
     background-color: var(--bisque);
     width:98% ;
     height: 22%;
     margin: 10%;
     display: flex;
     text-align: center;
     justify-content: space-evenly;
     margin-right: 60%;
     position: absolute;
     right: -59%;
     top: 348%;
     padding: 5%;
    
}
img#F {
    position: absolute;
    top: 9%;
    left: 1%;
    width: 10%;
    height: 90%;
}
img#G {
    position: absolute;
    top: 9%;
    width: 7%;
    height: 90%;
    margin-left: 88%;
}
.textinhofinal{
      color: black;
      text-align: center;
      width: 30%;
      position: absolute;
      font: 15pt; 
      font-family: "Comic Sans MS";
      display: flex;
      top: 25%;
}
