<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Resposta para o usuário:</h1>

<p>Nome: <%= nome %> </p>
<p>Senha: <%= senha %> </p>

</body>
</html>
