<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Login realizado com sucesso!</h1>

<p>Login: <%= nome %> </p>

</body>
</html>
